.titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
  width: 100%;
  padding: 6.4rem 0 8rem;
}

.titulo h2 {
  color: var(--clr-blue);
  font-family: "GT walsheim";
  font-size: 9rem;
  font-weight: 600;
  text-align: center;

  margin-bottom: 1.6rem;
}

.titulo p {
  width: 90%;
  color: var(--clr-blue);
  font-size: 1.8rem;
  text-align: center;
}
