.portifolio {
  width: 100%;
  background-color: var(--clr-white);
}

.portifolio__imagens {
  display: flex;
  align-items: center;

  position: relative;
  top: -12rem;
}

.portifolio__arco {
  display: flex;
  align-items: center;

  position: relative;
  left: 22.4rem;
}

.portifolio__arco img:first-child {
  width: 25.6rem;
}

.portifolio__arco img:last-child {
  height: 97.5%;

  position: absolute;
  left: 0;
  top: 0.9rem;
  z-index: 50;
}

.portifolio__nuvem {
  width: 22.4rem;

  position: absolute;
  top: 40rem;
  right: 11.2rem;
}

.portifolio__container {
  max-width: 1200px;
  margin: 0 auto;
}

.portifolio__projetos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  width: 100%;
  margin-bottom: 12rem;
}
