.pilar {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.6rem;
}

.pilar__window {
  min-width: 24rem;
  height: 16rem;

  background-color: var(--clr-white);
  border: 2px solid var(--clr-blue);
  border-radius: 1.2rem;

  overflow: hidden;
}

.pilar__window-header {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.6rem;

  background-color: var(--clr-blue);
}

.pilar__window-ball {
  width: 1rem;
  height: 1rem;

  border-radius: 100%;
}

.pilar__window-ball--red {
  background-color: #f87185;
}

.pilar__window-ball--orange {
  background-color: #fb923c;
}

.pilar__window-ball--yellow {
  background-color: #facc15;
}

.pilar__window-ball--green {
  background-color: #4ade80;
}

.pilar__window-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 13.6rem;
}

.pilar__window-main img {
  height: 80%;
}

.pilar__window-main h3 {
  font-size: 3rem;
  font-weight: 500;
  color: var(--clr-blue);
  margin: 0 4rem .5rem;
}

.pilar__window-main .btn {
  width: 100%;
}

.pilar__img {
  max-width: 19.2rem;
}

/* ANIMATIONS */

@keyframes float {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(8%);
  }
}
