*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: var(--ff-roboto);
  font-size: 1rem;
  font-weight: 400;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: var(--clr-black);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-white);
  border-radius: 1rem;
}
