*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--clr-black);
  color: var(--clr-white);
  font-family: var(--ff-roboto);
  font-size: 1rem;
  font-weight: 400;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--clr-white);
  border-radius: 1rem;
}

.stars-1 img {
  animation: stars 20s linear alternate infinite;
  width: 110%;
  position: absolute;
  top: 0%;
  left: -5%;
  opacity: 0.1;
}

.stars-2 img {
  animation: stars 25s linear alternate-reverse infinite;
  width: 110%;
  position: absolute;
  top: 0;
  left: -5%;
  opacity: 1;
}
