.about {
  width: 100%;
  height: 100vh;
  position: relative;
  // display: flex;
  // justify-content: center;
  // align-items: flex-end;
  overflow: hidden;

  &__planet {
    width: 100%;
  }

  &__img {
    position: absolute;
    top: 28%;
    z-index: 30;
    width: 100%;
  }

  &__line-1 {
    width: 3rem;
    height: 0.3rem;
    background-color: var(--clr-white);
    position: absolute;
    top: 45%;
    left: 63%;
    z-index: 10;
  }

  &__line-2 {
    width: 5rem;
    height: 0.3rem;
    background-color: var(--clr-white);
    transform: rotate(-60deg);
    position: absolute;
    top: 40.7%;
    left: 64.7%;
  }

  &__line-3 {
    width: 2rem;
    height: 0.3rem;
    background-color: var(--clr-white);
    position: absolute;
    top: 36.5%;
    left: 68.55%;
  }

  &__text {
    width: 20rem;
    height: 12rem;
    background-color: var(--clr-white);
    border-radius: 1rem;
    position: absolute;
    left: 70.5%;
    top: 24%;
    padding: 1rem;

    h3 {
      color: var(--clr-black);
    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      img {
        margin-top: .5rem;
        width: 4rem;
        border-radius: 50%;
        border: 3px solid var(--clr-black);
      }
    }
  }

  
}
