* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "GT Walsheim";
  src: url("../public/fonts/GT-Walsheim-Bold.otf") format("truetype");
}

@font-face {
  font-family: "GT America";
  src: url("../public/fonts/GT-America-Standard.otf") format("truetype");
}

:root {
  --clr-blue: #1e3a8a;
  --clr-white: #fbf3f3;
  --clr-red: #f87171;
  --clr-orange: #fb923c;
  --clr-yellow: #facc15;
  --clr-green: #4ade80;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--clr-blue);
  font-family: "GT America", sans-serif;

  width: 100%;
  overflow-x: hidden;
}
